<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdq.teacher.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.cdq.teacher.entity.User" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="pass_word" property="passWord" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="user_num" property="userNum" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="user_class" property="userClass" jdbcType="VARCHAR" />
    <result column="professional" property="professional" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_name, pass_word, age, user_num, sex, department, user_class, professional, 
    birthday
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where user_id = #{userId,jdbcType=VARCHAR} and is_delete=0
  </select>

  <select id="selectUser" resultMap="BaseResultMap" parameterType="com.cdq.teacher.entity.User" >
    select
    <include refid="Base_Column_List" />
    from t_user
    <where>
    <if test="userName != null" >
      user_name = #{userName,jdbcType=VARCHAR}
    </if>
    <if test="passWord != null" >
      and pass_word = #{passWord,jdbcType=VARCHAR}
    </if>
    <if test="age != null" >
      and age = #{age,jdbcType=INTEGER}
    </if>
    <if test="userNum != null" >
      and user_num = #{userNum,jdbcType=VARCHAR}
    </if>
    <if test="sex != null" >
      and sex = #{sex,jdbcType=VARCHAR}
    </if>
    <if test="department != null" >
      and department = #{department,jdbcType=VARCHAR}
    </if>
    <if test="userClass != null" >
      and  user_class = #{userClass,jdbcType=VARCHAR}
    </if>
    <if test="professional != null" >
      and professional = #{professional,jdbcType=VARCHAR}
    </if>
    <if test="birthday != null" >
      and birthday = #{birthday,jdbcType=VARCHAR}
    </if>
      and is_delete=0
    </where>
  </select>


  <select id="getAllUserMQL" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    where is_delete=0
    order by create_at asc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cdq.teacher.entity.User" >
    insert into t_user (user_id, user_name, pass_word, 
      age, user_num, sex, 
      department, user_class, professional, 
      birthday,is_delete,create_at,update_at)
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{passWord,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{userNum,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{department,jdbcType=VARCHAR}, #{userClass,jdbcType=VARCHAR}, #{professional,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=VARCHAR},0,now(),now())
  </insert>
  <insert id="insertSelective" parameterType="com.cdq.teacher.entity.User" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="passWord != null" >
        pass_word,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="userNum != null" >
        user_num,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="userClass != null" >
        user_class,
      </if>
      <if test="professional != null" >
        professional,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null" >
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="userNum != null" >
        #{userNum,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="userClass != null" >
        #{userClass,jdbcType=VARCHAR},
      </if>
      <if test="professional != null" >
        #{professional,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdq.teacher.entity.User" >
    update t_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null" >
        pass_word = #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="userNum != null" >
        user_num = #{userNum,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="userClass != null" >
        user_class = #{userClass,jdbcType=VARCHAR},
      </if>
      <if test="professional != null" >
        professional = #{professional,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdq.teacher.entity.User" >
    update t_user
    set user_name = #{userName,jdbcType=VARCHAR},
      pass_word = #{passWord,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      user_num = #{userNum,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      user_class = #{userClass,jdbcType=VARCHAR},
      professional = #{professional,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="deleteByUserId" parameterType="java.lang.String" >
    update t_user
    set is_delete =1
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>